//contact form 

input[required=true] {
	width: 100% !important;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	color: #333;
	width: 723px;
	margin-bottom: 20px;
	padding: 20px;
}

.form-wrapper {
	width: 80%;
	margin: 0;
}

#contact {
	h2, p {
		text-align: left;
	}
}

#contact_form {
	margin-left: auto;
	margin-right: auto;
}

#message {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	padding: 20px;
	width: 725px;
	height: 300px;
	width: 100% !important;
}

.paragraph-contact-form {
	text-align: center;
	padding-top: 20px;
}
