/*CORE STYLING*/

#side-section {
	position: fixed;
	top: 0;
	left: 0;
	padding: 3rem;
	background-color: $main-color;
	height: 100%;
}

.side-section__social-media-links {
	position: fixed;
	bottom: 20px;
	li {
		display: inline-block;
		padding-right: 20px;
	}
}

.site-content {
	margin-left: 14rem;
}

.site-section {
	margin-top: 5rem;
	margin-left: 40px;
	margin-right: 40px;
}

.main-nav {

	font-family: sans-serif;

	li {
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		font-style: italic;
		color: #fff;
		padding: 8px;
	}
}



.hover-shape {
	height: inherit;
	transition: linear 0.2s;
	&:hover {
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	     background-color: $green-color;
	}
}

#main-fold {
	text-align: center;
	padding-bottom: 5rem;
}

.main-fold__headshot {
	width: 30%;
	border-radius: 100%;
}

.main-fold__links {

	padding-top: 2rem;
	a {
		text-transform: capitalize;
		text-decoration: none;
		font-family: 'Catamaran', sans-serif;
		color: $main-color;
		border: 1px solid $main-color;
		margin: 25px;
		padding: 2px 20px;
		border-radius: 9px;
		transition: linear 0.2s;
		&:hover {
			color: $white;
			background-color: $main-color;
		}
	}
}

.skill-list {
	@extend .paragraph;
	text-align: center;
}

.mobile-menu-toggle {
	display: none;
}

@media screen and (max-width: 767px) {
	#side-section {
		display: none;
		z-index: 1;
	}

	.site-content {
		margin: 0;
	}

	.mobile-menu-toggle {
		position: fixed;
		display: block;
		z-index: 1;
		width: 50px;
		text-align: left;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		padding: 30px;
		color: $white;
		background-color: $green-color;
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
	}

	.mobile-menu-toggle--close {
		position: fixed;
		top: 0;
		left: 0;
		padding: 30px !important;
		text-align: center;
		font-weight: bold;
	}

	.main-nav {
		margin-top: 5rem;
	}

	.main-header {
		padding-top: 5.7rem;
	}

	// input[required=true] {
	// 	width: 100% !important;
	// }

	// #message {
	// 	width: 100% !important;
	// }
}

