/*CORE STYLING*/

#side-section {
	position: fixed;
	top: 0;
	left: 0;
	padding: 3rem;
	background-color: $main-color;
	height: 100%;
}

.side-section__social-media-links {
	position: fixed;
	bottom: 20px;
	li {
		display: inline-block;
		padding-right: 20px;
	}
}

.site-content {
	margin-left: 14rem;
}

.site-section {
	margin-top: 5rem;
	margin-left: 40px;
}

.main-nav {

	font-family: sans-serif;

	li {
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		padding-bottom: 3rem;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		font-style: italic;
		color: #fff;
		padding: 8px;
	}
}



.hover-shape {
	height: inherit;
	transition: linear 0.2s;
	&:hover {
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	     background-color: #268200;
	}
}

#main-fold {
	text-align: center;
	padding-bottom: 5rem;
	h1 {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		text-transform: uppercase;
		padding: 4rem;
		font-size: 42px;
	}
}

.main-fold__headshot {
	width: 30%;
	border-radius: 100%;
}

.main-fold__links {

	padding-top: 2rem;
	a {
		text-transform: capitalize;
		text-decoration: none;
		font-family: 'Catamaran', sans-serif;
		color: $main-color;
		border: 1px solid $main-color;
		margin: 25px;
		padding: 2px 20px;
		border-radius: 9px;
		transition: linear 0.2s;
		&:hover {
			color: $white;
			background-color: $main-color;
		}
	}
}

