//portfolio
//comment

#portfolio {
  h2 {
    margin-bottom: 2rem;
  }
}

.item {
  perspective: 1000px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 33%;
}

.item:hover .item-info, .item.hover .item {
  transform: rotateY(180deg);
}

.item, .item-info-front, .item-info-back {
  width: 320px;
  height: 480px;
}

.item-info {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.item-info-front, .item-info-back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.item-info-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.item-info-back {
  transform: rotateY(180deg);
}

.item-info-back {
  background-color: #ccc;
}



.mobile-item-view {
	display: none;
}


//responsive

@media only screen and (max-width : 1110px) {
  .item {
    width: 100%;
  }

  .item-info-anime {
    display: none;
  }

  .mobile-item-view {
    display: block;
    padding-bottom:15px;
    margin:20px;
  }
}