//portfolio
//comment

#portfolio {
  h2 {
    margin-bottom: 2rem;
  }
}

.item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 33%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  color: #ffffff;
  padding-top: 20px;
  animation: fadeInOpacity 1s fade-in;
}

.item-info-anime {
  display: none;
}

.item:hover .item-info {
  display: block;
}

.item-info h4 {
  padding-top: 70px;
}

.mobile-item-view {
	display: none;
}


//responsive

@media only screen and (max-width : 1110px) {
  .item {
    width: 100%;
  }

  .item-info-anime {
    display: none;
  }

  .mobile-item-view {
    display: block;
    padding-bottom:15px;
    margin:20px;
  }
}